* {
    box-sizing: border-box;
    font-size: 18pt;
    font-weight: bold;
  }
  
#background-image-div {
    border: double 6px #3e405b;
    border-radius: 15px;
    font-size: 18pt;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: 80%;
}


#scenario-container {
    padding-top: 20px;
    /* padding-bottom: 20px; */
    margin-bottom: 10px;
    width: 100%;
    font-weight: bold;
    color: #2e3047;
    font-family: 'Roboto', sans-serif;
}

#answer-container, p {
    /* border: double 3px #3e405b; */
    border-radius: 15px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 90%;
    color: #3e405b;
    font-family: 'Roboto', sans-serif;
}

form > button {
    color: #3e405b;
    background-color: #ecd0a5;
    border: solid 1px #3e405b;
    border-radius: 5px;
}

#answer-key {
    list-style-type: none;
    /* border: solid 1px black; */
    border-radius: 15px;
    padding: 8px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10pt;
    color: #2f3044;
    font-family: 'Roboto', sans-serif;
}

section > button {
    /* float: right;
    margin-right: 40px; */
    margin-right: auto; /*to match submit */
    margin-left: 60px;
    font-family: 'Roboto', sans-serif;
    color: #ecd0a5;
    background-color: #3e405b;
    border-radius: 5px;
}


li {
    padding-bottom: 10px;
}

