*{
  box-sizing: border-box;
  background-color: rgb(243,241,222, .1);
}

header{
  /* border: solid 1px black; */
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.header img{
  /* width: 30%; */
  /* not sure about the float below */
  float: left;
  height: 80px;
}

.header h1{
  width: 80%;
  margin-left: 80px;
  position: relative;
  color: #3e405b;
  font-family: 'Fredoka One', cursive;
  font-size: 40px;
  letter-spacing: .05em;
  text-shadow: 
      4px 4px 0px #d5d5d5, 
      5px 5px 0px rgba(62, 64, 91, 0.2);
  padding-top: 10px;
  padding-bottom: 5px;
}


a{
  color: #3e405b;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}

a:hover{
  font-size: 16px;
}

main{
  border: double 3px #e0795f;
  border-radius: 10px;
  width: 90%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

#welcome{
  border: solid 1px #e0795f;
  border-radius: 10px;
  width: 75%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

p{
  font-family: 'Roboto', sans-serif;
}

#user-form{
  border: solid 1px #e0795f;
  border-radius: 10px;
  width: 70%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto', sans-serif;
}

input{
  display: block;
}

footer{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

/* ============================== ABOUT PAGE */

/* #about-main{
  height: 1000px;
} */

h3{
  color: #3e405b;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 10px;
}

/* .face{
  border-radius: 100%;
} */

.bio img{
  /* float: left; */
  margin-right: 15px;
  border: double 6px #3e405b;
  border-radius: 100%;
  height: 200px;
  width: 200px;
}

.bio section{
  position: relative;
}

li{
  margin: 10px;
  background-color: lightblue;
}


